{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">My Projects</h1>
    <p class="text-center">Here are some of my projects hosted on GitHub. Click on a project to view details or visit the project on GitHub.</p>

    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <div class="card project-card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                </div>
                <div class="card-footer bg-transparent border-top-0">
                    <a href="{{ project.url }}" class="btn btn-primary" target="_blank">View Project</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
